<div class="hbox hbox-auto-xs hbox-auto-sm" ng-init="
    app.settings.asideFolded = false; 
    app.settings.asideDock = false;
  ">
  <!-- main -->
  <div class="col">
    <!-- main header -->
      <div class="col-sm-12">
        <ffzl-box layout="layout" title="全局搜索" bottom-buttons="layout.buttons.bottom" top-buttons="layout.buttons.top">
            <div class="row form-group">
              <div class="col-sm-12 col-xs-6 text-center" ng-controller="ConditionController">
                <span ng-repeat="input in layout.input" input="input" ng-init="optionsarray=getOptions(input)">
                  <div class="col-sm-4 col-sm-8" ng-repeat="options in optionsarray" ng-init="name=options.name">
                    <label class="col-sm-4 font-bold" ng-bind="options.desc"></label>
                    <div class="col-sm-8" ng-if="options.type!='D'">
                      <condition-input options="options"></condition-input>
                    </div>
                    <datepicker class="col-sm-8" ng-if="options.type == 'D'" button-prev="<i class='fa fa-arrow-left'></i>"
                                button-next="<i class='fa fa-arrow-right'></i>"
                                date-max-limit="{{options.maxDate | date:'yyyy-MM-dd'}}" date-set="{{options.init | date:'yyyy-MM-dd'}}" date-format="yyyy-MM-dd">
                      <condition-input options="options"></condition-input>
                    </datepicker>
                  </div>
                </span>
              </div>
            </div>
        </ffzl-box>
        <div ng-repeat="component in layout.components" class="{{component.class}}">
          <ffzl-component cmp="component"></ffzl-component>
        </div>
      </div>


    <!-- / main header -->
  </div>

  <!-- / main -->
  <!-- right col -->
  <!-- / right col -->
</div>
