
<div class="app-aside hidden-xs {{app.settings.asideColor}}">
    <div class="aside-wrap">
        <!-- if you want to use a custom scroll when aside fixed, use the slimScroll
          <div class="navi-wrap" ui-jq="slimScroll" ui-options="{height:'100%', size:'8px'}">
        -->
        <div class="navi-wrap" ui-jq="slimScroll" ui-options="{height:'100%', size:'8px'}">

            <!-- user -->
            <div class="clearfix text-center" id="aside-user">
                <div class="dropdown wrapper" uib-dropdown>
                    <a ui-sref="app.page.profile">
                        <span class="thumb-lg w-auto-folded avatar m-t-sm">
                            <img src="img/a0.jpg" class="img-full" alt="...">
                        </span>
                    </a>
                    <a href class="dropdown-toggle hidden-folded" uib-dropdown-toggle>
                        <span class="clear">
                            <span class="block m-t-sm">
                                <strong class="font-bold text-lt">John.Smith</strong>
                                <b class="caret"></b>
                            </span>
                            <span class="text-muted text-xs block">Art Director</span>
                        </span>
                    </a>
                    <!-- dropdown -->
                    <ul class="dropdown-menu animated fadeInRight w hidden-folded">
                        <li class="wrapper b-b m-b-sm bg-info m-t-n-xs">
                            <span class="arrow top hidden-folded arrow-info"></span>
                            <div>
                                <p>300mb of 500mb used</p>
                            </div>
                            <progressbar value="60" type="white" class="progress-xs m-b-none dker"></progressbar>
                        </li>
                        <li>
                            <a href>Settings</a>
                        </li>
                        <li>
                            <a ui-sref="app.page.profile">Profile</a>
                        </li>
                        <li>
                            <a href>
                                <span class="badge bg-danger pull-right">3</span>
                                Notifications
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a ui-sref="access.signin">Logout</a>
                        </li>
                    </ul>
                    <!-- / dropdown -->
                </div>
                <div class="line dk hidden-folded"></div>
            </div>
            <!-- / user -->

            <!-- nav -->
            <nav ui-nav style="width: 200px">
                <ul class="nav" ng-repeat="group in tree" group="group">
                    <li class='hidden-folded padder m-t m-b-sm text-muted text-xs'>
                        <span translate='{{group.translate}}'>{{group.name}}</span>
                    </li>
                    <li ng-repeat="item in group.items" ng-if='item.subitems && item.subitems.length > 0'>
                        <a href class='auto'>
                            <span class='pull-right text-muted'>
                                <i class='fa fa-fw fa-angle-right text'></i>
                                <i class='fa fa-fw fa-angle-down text-active'></i>
                            </span>
                            <i class='glyphicon {{item.icon}} icon text-primary-dker'></i>
                            <span class='font-bold hidden-folded' translate='{{item.translate}}'>{{item.text}}</span>
                        </a>
                        <ul class='nav nav-sub dk'>
                            <li class='nav-sub-header'>
                                <a href>
                                    <i class='glyphicon {{item.icon}} icon text-primary-dker'></i>
                                    <span class="hidden-folded" translate='{{item.translate}}'>{{item.text}}</span>
                                </a>
                            </li>
                            <li ng-repeat='subitem in item.subitems' ui-sref-active='active'>
                                <a ui-sref='{{subitem.router}}'>
                                    <b class='label bg-info pull-right hidden-folded' ng-if='subitem.pullright'>{{subitem.pullright}}</b>
                                    <span class="hidden-folded">{{subitem.text}}</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li  ng-repeat="item in group.items" ng-if='!item.subitems || item.subitems.length == 0' ui-sref-active='active'>
                                <a ui-sref='{{item.router}}'>
                                    <i class='glyphicon icon text-info-dker {{item.icon}}'></i>
                                    <span class='font-bold hidden-folded' translate='{{item.translate}}'>{{item.text}}</span>
                                </a>
                            </li>


                </ul>
                <!-- / list -->
            </nav>
            <!-- nav -->

            <!-- aside footer -->
            <div class="wrapper m-t">
                <div class="text-center-folded">
                    <span class="pull-right pull-none-folded">60%</span>
                    <span class="hidden-folded" translate="aside.MILESTONE">Milestone</span>
                </div>
                <progressbar value="60" class="progress-xxs m-t-sm dk" type="info"></progressbar>
                <div class="text-center-folded">
                    <span class="pull-right pull-none-folded">35%</span>
                    <span class="hidden-folded" translate="aside.RELEASE">Release</span>
                </div>
                <progressbar value="35" class="progress-xxs m-t-sm dk" type="primary"></progressbar>
            </div>
            <!-- / aside footer -->
        </div>
    </div>
</div>
